!!! 5
 %html
  %head
   %meta
   %title
  %body
   %header
    %ul
     %li 
      Главная
     %li
      Мой кабинет
     %li
      Оформление заказа
   %main
    %h1
     Оформление заказа
    %ol
     %li.active
      Мой заказ
     %li
      Способ доставки
     %li
      Способ оплаты
    %div.row
    %div.img
     %img{src:"pic_elephant.png"}
     %img{src:"pic_elephant.png"}
     %img{src:"pic_elephant.png"}